
@import url('https://fonts.googleapis.com/css?family=KoHo|Nanum+Gothic')

* 
    margin: 0
    padding: 0
    box-sizing: border-box 

body 
    font-family: 'KoHo', sans-serif 

h1 
    font-family: 'Nanum Gothic', sans-serif

